@page
@model ST1_ASPNETCore.Pages.Stocks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Sucursal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Sucursal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Producto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Producto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Kilos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Kilos)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Stock.ID">Editar</a> |
    <a asp-page="./Index">Volver</a>
</div>
